@font-face {
  font-family: 'Comic Neue Italic';
  src: url('./assets/ComicNeue-Italic.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Comic Neue Italic';
  src: url('./assets/ComicNeue-LightItalic.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Comic Neue Italic';
  src: url('./assets/ComicNeue-BoldItalic.ttf');
  font-weight: bold;
}

:root {
  --sarcasam-font-family: 'Comic Neue Italic';
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  color: black;
}
